@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.grid-container{
    display: grid;
    background-color: white;
    gap: 16px;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    width: 60%;
    height: 100dvh;
    margin: 100px auto;
    font-family: 'Barlow Semi Condensed';
}

p{
    font-size: 11px;
}

h4{
    font-weight: 500;
}
img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid white;
}
.name{
    display: inline-block;
    line-height: 1.2;
    font-size: 11px;
    
}
.profile{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.Daniel{
    background-color: hsl(263, 55%, 52%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    grid-column: span 2;
}

.Jonathan{
    background-color: hsl(217, 19%, 35%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
}

.Jeanette{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
}
.Patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    grid-column: span 2;
}
.Kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    grid-row: span 2;
}



.attribution {
    font-size: 14px; 
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-column: span 4;
    margin-top: 50px;
    color: hsl(219, 29%, 14%);
   
}
.attribution a { 
    color: hsl(219, 29%, 14%);
    text-decoration: none;


}

@media (max-width:834px){
    .grid-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: white;
        width: 80%;
        height: 100dvh;
        margin: 60px auto;
    }
    .Daniel{
        background-color: hsl(263, 55%, 52%);
        padding: 25px;
        border-radius: 5px;
        box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    }

    .Jonathan{
        background-color: hsl(217, 19%, 35%);
        padding: 25px;
        border-radius: 5px;
        box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    }

    .Jeanette{
        background-color: hsl(0, 0%, 100%);
        color: hsl(217, 19%, 35%);
        padding: 25px;
        border-radius: 5px;
        box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    }
    .Patrick{
        background-color: hsl(219, 29%, 14%);
        padding: 25px;
        border-radius: 5px;
        box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    }
    .Kira{
        background-color: hsl(0, 0%, 100%);
        color: hsl(217, 19%, 35%);
        padding: 25px;
        border-radius: 5px;
        box-shadow: 16px 16px 20px 16px  rgb(223, 222, 222);
    }

    .attribution {
    margin-top: 20px;
    padding-bottom:30px ;
}
    
}